html,
body {
  height: 100%;
  background-color: #EEE !important;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Button */
/* Butoon Primary */
.btn-primary {
  width: 150px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #FFF;
  background-color: #00ADB5;
  border: none;
  border-radius: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-primary:hover {
  background-color: #2fb1b8;
  box-shadow: 0px 8px 24px #2fb1b875;
  color: #fff;
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
}

.btn-secondary {
  width: 150px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #FFF;
  background-color: #393E46;
  border: none;
  border-radius: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-secondary:hover {
  background-color: #393E46;
  box-shadow: 0px 8px 24px #393E4675;
  color: #fff;
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
}

.btn-secondary:focus {
    background-color: #393E46;
    box-shadow: 0px 8px 24px #393E4675;
    transform: translateY(-1px);
    border: none;
  }

.btn-danger {
  width: 150px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #FFF;
  background-color: #ef4f4f;
  border: none;
  border-radius: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-danger:hover {
  background-color: #f35858;
  box-shadow: 0px 8px 24px #f3585875;
  color: #fff;
  transform: translateY(-1px);
}

.btn-outline-primary {
  width: 140px;
  height: 40px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #00ADB5;
  background-color: none;
  border: none;
  border-radius: 45px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 10px 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid;
  border-color: #00ADB5;
}

.btn-outline-primary:hover {
  background-color: #00ADB5;
  box-shadow: 0px 8px 24px #2fb1b875;
  color: #fff;
  transform: translateY(-1px);
  border: none;
}

.btn-outline-primary:active {
  background-color: #00ADB5;
  box-shadow: 0px 8px 24px #2fb1b875;
  color: #fff;
  transform: translateY(-1px);
  border: none;
}

.btn-outline-secondary {
  width: 140px;
  height: 40px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #fff;
  background-color: #393E46;
  border: none;
  border-radius: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid;
  border-color: #393E46;
}

.btn-outline-secondary:hover {
  background-color: #393E46;
  box-shadow: 0px 8px 24px #393E4675;
  color: #fff;
  transform: translateY(-1px);
}


/* Form Control */
#inputPassword {
    border-radius: 45px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease 0s;
}

#inputPassword:focus {
    border: none;
    box-shadow: 0px 8px 24px #393E4675;
    transform: translateY(-1px);
    transition: all 0.3s ease 0s;
}

#inputEmail {
  border-radius: 45px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease 0s;
}

#inputEmail:focus {
  border: none;
  box-shadow: 0px 8px 24px #393E4675;
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}